@layer init, design;

@import url(./bootstrap-grid.min.css) layer(init);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);
@import url(./student.css) layer(design);

@layer init {
  :root {
    --primary: #3cab68;
    --light: #ffffff;
    --gray: #E0E0E0;
    --stars: #808080;
    --it: #3cab68;
    --it-light: #ebfff3;  
  }

  html {
    font-family: "Open Sans", sans-serif;
    color: var(--black, black);
    font-weight: 400;
    line-height: 1.5;
  }

  .img-responsive {
    object-fit: cover;
  }

  html::-webkit-scrollbar {
    width: 0.7em;
  }

  html::-webkit-scrollbar-track {
    background: var(--light);
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--it);
    border-radius: 6px;
    border: 3px solid var(--light);
  }

  .hide {
    display: none;
  }

  .nav-link--active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .project__tags > li::before {
    content: "#";
  }
}